.questionInputContainer {
    border: 1px solid #1d9dff;
    height: 80px;
    width: 100%;
    padding: 15px;
    background: white;
}

.questionInputSendButtonWrapper {
    padding: 8px;
    background: rgba(29,157,255,0.4 )
}

.questionInputTextArea {
    width: 100%;
    line-height: 40px;
}

.questionInputButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.questionInputSendButton {
    cursor: pointer;
}

.questionInputSendButtonDisabled {
    opacity: 0.4;
}
